/* CSS declarations go here */
body { padding-top: 70px; }

.game-rack {
  width: 350px;
}

.game-rack td {
  height: 50px;
  width: 50px;
  padding: 4px;
  background-color: #e6d63d;
  text-align: center;
}

.circle {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.circle.clear {
  background-color: #fff;
}

.circle.black {
  background-color: black;
}

.circle.red {
  background-color: red;
}

.circle.win {
  border: 2px solid cyan;
}

@media (min-width: 768px) {
  .game-rack {
    width: 630px;
  }

  .game-rack td {
    height: 90px;
    width: 90px;
  }

.circle {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}
}